.app {
  height: 100vh;
  color: var(--color-typo-primary);
}

.content {
  background-color: var(--color-bg-primary);
  margin-left: 350px;
  &Wrapper {
    padding: 0 40px 0 40px;
    max-width: 750px;
    margin: auto;
  }
}

.navbar {
  width: 350px;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  border-left: 1px solid rgba(5, 5, 5, 0.06);
}
